* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
  font-family: 'Merriweather', serif;
  color: #362c39;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2 {
  color: #21417B;
  margin-bottom: 3%;
  font-weight: 900;
  text-transform: uppercase;
}
header img {
  max-width: 100%;
  margin-top: 5%;
}
main {
  justify-content: center;
  align-items: center;
}
section {
  padding: 5%;
}
.welcome {
  display: flex;
  flex-direction: column;
}
button {
  background-color: red;
}
.numbers {
  text-align: center;
}
.numbers-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.numbers img {
  max-width: 100px;
  padding: 5%;
}
.numbers {
  background-color: #21417B;
}
.numbers h2 {
  color: white;
}
.numbers p {
  color: white;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.button1 {
  background-color: #21417B;
  padding: 5%;
  color: white;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
}
.button2 {
  background-color: #3D0707;
  padding: 5%;
  color: white;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
}
.button1 a {
  color: white;
  text-decoration: none;
}
.button2 a {
  color: white;
  text-decoration: none;
}
.quotes {
  text-align: center;
}
footer {
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: #3D0707;
  color: white;
  padding: 5%;
  text-align: center;
}
footer p {
  padding: 2%;
}
.social {
  display: none;
}
.social p a {
  color: white;
  text-decoration: none;
}
@media (min-width: 780px){
  .welcome {
    flex-direction: row;
  }
  .welcome-words {
    max-width: 70%;
  }
  .buttons {
    justify-content: center;
    align-content: center;
    margin-left: 5%;
  }
  .numbers {
    text-align: left;
  }
  .numbers-flex {
    flex-direction: row;
    justify-content: space-around;
  }
  .button1 {
    min-width: 200px;
  }
  .button2 {
    min-width: 200px;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .foot-text {
    min-width: 300px;
  }
  .social {
    display: flex;
  }
  .social p {
    padding-right: 10%;
  }
}
