* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
  font-family: 'Merriweather', serif;
  color: #362c39;
}
nav {
  display: none;
}
.hamburger-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mobile-logo {
  max-width: 60%;
  margin-top: 3%;
  align-self: center;
}
button {
  width: 10%;
  background-color: white;
  font-size: 40px;
  margin-left: 2%;
}
.menu {
  height: 0;
  overflow: hidden;
  transition: height 1s;
}
.show-mobile-menu {
  display: block;
  height: 424px;
  transition: height 1s;
}
.menu ul{
  list-style-type: none;
  padding-left: 0;
}
.menu ul li {
  height: 100px;
  font-size: 24px;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu ul li a {
  color: #362c39;
  text-decoration: none;
}
.menu ul li a:hover {
  text-decoration: underline;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2 {
  color: #21417B;
  margin-bottom: 3%;
  font-weight: 900;
  text-transform: uppercase;
}
header img {
  max-width: 100%;
  margin-top: 5%;
}
main {
  justify-content: center;
  align-items: center;
}
section {
  padding: 5%;
}
.welcome {
  display: flex;
  flex-direction: column;
}
.numbers {
  text-align: center;
}
.numbers-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.numbers img {
  max-width: 100px;
  padding: 5%;
}
.numbers {
  background-color: #21417B;
}
.numbers h2 {
  color: white;
}
.numbers p {
  color: white;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.button1 {
  background-color: #21417B;
  padding: 5%;
  color: white;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
}
.button2 {
  background-color: #3D0707;
  padding: 5%;
  color: white;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
}
.button1 a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.button1 a:hover {
  text-decoration: underline;
}
.button2 a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.button2 a:hover {
  text-decoration: underline;
}
.quotes {
  text-align: center;
  color: #21417B;
  text-transform: uppercase;
}
.divider {
  padding-bottom: 1%;
}
footer {
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: #3D0707;
  color: white;
  padding: 5%;
  text-align: center;
  text-transform: uppercase;
}
footer p {
  padding: 2%;
}
.social {
  display: none;
}
.social p a {
  color: white;
  text-decoration: none;
}
.social p a:hover {
  text-decoration: underline;
}
.divider img {
  max-width: 100%;
}
.faq {
  text-align: center;
}
#accordion{
  width: 80%;
  margin: auto;
}
.accordion-headers {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #21417B;
  margin: 5px auto;
  color: white;
  padding: 0 20px;
  justify-content: space-between;
}
.toggle-indicator{
  font-size: 40px;
}
.accordion-description {
  height: 0px;
  overflow: hidden;
  background-color: #7587a9;
  transition: height 1s;
  color: white;
}
.accordion-open {
  height: 100px;
  padding: 10px 20px;
  transition: height 1s;
}
.tests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.tests h2 {
  color: #3D0707;
}
.tests p {
  padding-bottom: 5%;
  padding-right: 2%;
  max-width: 300px;
}
.tests img {
  max-width: 200px;
  padding: 2%;
}
#more, #more-2, #more-3, #more-4, #more-5, #more-6 {
  display: none;
}
.hide {
  display: none;
}

@media (min-width: 760px){
  .logo {
    margin-top: 5%;
    max-width: 50%;
    align-self: center;
  }
  nav {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
  }
  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3%;
  }
  nav ul li {
    padding-right: 2%;
    padding-left: 2%;
  }
  nav ul li a {
    color: #362c39;
    text-decoration: none;
  }
  nav ul li a:hover {
    text-decoration: underline;
  }
  .hamburger-menu {
    display: none;
  }
  .logo {
    margin: 2%;
    max-width: 30%;
    align-self: center;
  }
  header img {
    margin-top: 0;
  }
  .welcome {
    flex-direction: row;
  }
  .welcome-words {
    max-width: 70%;
  }
  .buttons {
    justify-content: center;
    align-content: center;
    margin-left: 5%;
  }
  .numbers {
    text-align: left;
  }
  .numbers-flex {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  .button1 {
    min-width: 200px;
  }
  .button2 {
    min-width: 200px;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .foot-text {
    min-width: 300px;
  }
  .social {
    display: flex;
  }
  .social p {
    padding-right: 10%;
  }
  .numbers img {
    max-width: 150px;
    padding: 2%;
  }
  #accordion {
      width: 80%;
  }
  .tests {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
}
